:root {
  --main-bg: #f2f2f2;
  --bg: #ecf2f8;
  --card-firs: #733fc8;
  --card-second: #48556a;
  --card-third: #ffffff;
  --card-foueth: #19202d;
  --black-text: #48556a;
  --bold-text: #ecf2f8;
  --text: #0f172a;
  --muted: #64748b;
  --white: #ffffff;
  --radius: 16px;
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  --font-text: "Barlow Semi Condensed", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-text);
  background-color: #ecf2f8;
}

.container {
  width: 100%;
  max-width: 1150px;
  padding: 20px;
  margin: 0 auto;
}

.grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 255px);
  gap: 24px 30px;
}

/* Card base */
.card {
  padding: 24px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  transition: all 0.4s ease;
  z-index: 0;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
}

.daniel {
  position: relative;
}
.quote-img {
  position: absolute;
  top: 0;
  right: 80px;
  z-index: 0;
}

h2 {
  position: relative;
  z-index: 1;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.profile-img {
  border-radius: 50%;
  margin-right: 17px;
  width: 40px;
  height: 40px;
}

.user-name {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 4px;
}

.user-title {
  font-weight: 500;
  font-size: 11px;
  opacity: 0.5;
}

.quote {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.body {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  opacity: 0.7;
}

.daniel {
  background-color: var(--card-firs);
  grid-area: 1/1/2/3;
  transition: all 0.3s ease;
}

.daniel:hover {
  transform: scale(1.05);
  border-color: var(--card-third);
  box-shadow: 0 0 12px var(--card-firs);
}

.jonathan {
  background-color: var(--card-second);
  transition: all 0.3s ease;
}
.jonathan:hover {
  transform: scale(1.05);
  border-color: var(--card-firs);
  box-shadow: 0 0 12px var(--card-firs);
}

.kira {
  background-color: var(--card-third);
  color: var(--black-text);
  grid-row: 1/3;
  grid-column: 4/5;
  transition: all 0.3s ease;
}

.kira:hover {
  transform: scale(1.05);
  border-color: var(--card-foueth);
  box-shadow: 0 0 12px var(--card-firs);
}

.jeanette {
  background-color: var(--card-third);
  color: var(--black-text);
  transition: all 0.3s ease;
}

.jeanette:hover {
  transform: scale(1.05);
  border-color: var(--card-foueth);
  box-shadow: 0 0 12px var(--card-firs);
}

.patrick {
  background-color: var(--card-foueth);
  grid-area: 2/2/3/4;
  transition: all 0.3s ease;
}

.patrick:hover {
  transform: scale(1.05);
  border-color: var(--card-firs);
  box-shadow: 0 0 12px var(--card-firs);
}


/* responsive */

@media (max-width:1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .kira {
        grid-row: 3/4;
        grid-column: 1/4;
    }

    .daniel {
        background-position: top right 70px;
        background-size: 104px 102px;
    }
}

@media (max-width:788px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .patrick {
        grid-area: 3/1/4/3;
    }
    .kira {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    .daniel {
        background-position: top right 40px;
        background-size: 104px 102px;
    }
}

@media (max-width:600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .daniel {
        grid-area: auto;
        background-position: top right 24px;
        background-size: 104px 102px;
    }

    .patrick {
        grid-area: auto;
    }
    .kira {
        grid-row: 5/6;
        grid-column: 1/2;
    }
}

